*{
	margin:0px;
	padding: 0px;
}
body{
	font-family: arial;
	margin:0px;
	padding: 0px;
	background-size: cover;
	overflow: hidden;
}
.appContent{
	width: 100%;
	height: 100vh;
	float: left;
	background: linear-gradient(to bottom, rgba(168,197,229,.8) 30%, rgba(255,255,255,.9) 90%);
	background: -moz-linear-gradient(to bottom, rgba(168,197,229,.8) 30%, rgba(255,255,255,.9) 90%);
	background: -ms-linear-gradient(to bottom, rgba(168,197,229,.8) 30%, rgba(255,255,255,.9) 90%);
	background: -webkit-linear-gradient(to bottom, rgba(168,197,229,.8) 30%, rgba(255,255,255,.9) 90%);
	background: -o-linear-gradient(to bottom, rgba(168,197,229,.8) 30%, rgba(255,255,255,.9) 90%);

}
.container{
	width: 97%;
	float: left;
	margin-left: 1.5%;
	position: relative;
}
.logo{
	background: red;
	float: left;
	padding: 10px;
	background: white;
	border-bottom-right-radius: 25px;
	margin-left: -1.5%;
}
.logo img{
	width: 200px;
}

.login{
	float: left;
	width: 500px;
	margin-top: 70px;
	position: absolute;
	left: calc(50% - 250px);
	font-family: arial;
}
.login h1{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	float: left;
	padding: 20px 0px;
}
.login .form{
	padding: 30px;
	background: #3988af;
	float: left;
	width:calc(100% - 60px);
	height: 300px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.3);
}
.login .header span{
	font-size: 35px;
	font-family: arial;
	text-transform: uppercase;
	color: white;
	margin-bottom: 10px;
	float: left;
	width: 100%;
	text-shadow: 1px 1px 3px black;
}
.login	.header p{
	float: left;
	width: 100%;
	color: white;
	font-family: arial;
	margin-bottom: 40px;
}

.content .optGroup{
	float: left;
	width: 100%;
	height: 40px;
	color: white;
}
.content .optGroup label{
	width: 110px;
	float: left;
	margin-top: 2.5px;
	font-size: 20px;
	font-family: arial;
	font-weight: bold;

}
.content .optGroup input{
	width: calc(100% - 120px);
	float: left;
	padding: 5px;
}

.optGroup input[type='submit']{
	float: left;
	width: 100px;
	height: 35px;
	margin-left: calc(50% - 50px);
	border-radius: 10px;
	background: #0099ff;
	border: transparent;
	color: white;
	font-weight: bold;
	box-shadow: 2px 2px  5px rgba(0,0,0,.8);
	margin-top: 40px;
}


.help{
	background: transparent;
	position: absolute;bottom: 0;
}
.help i{
	width: 20px;
	height: 20px;
	border-radius: 25px;
	border:2px solid yellow;
	left: 0;
}
.appContent ul{
	float: left;
	width: 100%;
	background: rgba(200,200,200,1);
	border-bottom:1px solid rgba(150,150,150,.8);
	margin-bottom: 20px;
}
.appContent ul li{
	float: left;
	padding: 10px 30px;
	list-style: none;
}
.info_op{
	position: absolute;
	bottom: 0;
	margin-bottom: 0px !important;
}
.header{
	font-family: arial;
	font-weight: 700;
}
.header li{
	cursor: pointer !important;
}
.status{
	width: 13px;
	height: 13px;
	margin-top: 2px;
	float: left;
	margin-right: 15px;
	border-radius: 50px;
}
.active{
	background: rgba(0,255,0,1);
}
.inactive{
	background: rgba(255,0,0,1);
}
.painel{
	width: 90%;
	float: left;
	margin-left: 5%;
}
.btn_painel{
	width: calc(50% / 2 - 20px);
	margin-left: 18%;
	height: 55px;
	margin-bottom: 50px;
	background: #3988af;
	border: transparent;
	font-weight: bold;
	color: white;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	overflow: hidden;
}

.btn_painel span{
	float: left;
	width: 60px;
	height: 55px;
	background: white;
	overflow: hidden;
	border-radius: 50px;
}
.btn_painel p{
	float: left;
	text-align: center;
	height: 40px;
	line-height: 55px;
	font-size: 18px;
	width: calc(100% - 60px);
}
.btn_painel span img{
	float: left;
	width: 70% ;
	position: relative;
	bottom: 0;
	left: 3px;
	margin-left: 15%;
	top:5px;

}
button.help{
	float: left;
	border: transparent;
	line-height: 33px;
	font-weight: bold;

}
button.help img{
	float: left;
	width: 30px;
	margin-right: 10px;
}button.exit{
	float: right;
	background: transparent;
	border: transparent;
	line-height: 33px;
	font-weight: bold;

}
button.exit img{
	float: left;
	width: 30px;
	margin-right: 10px;
}
.option_bottom{
	float: left;
	position: absolute;
	width: 90%;
	margin-left: 5%;
	bottom: 45px;
}

button{
	cursor: pointer !important;
}
.content{
	width: calc(100% - 220px);
	float: left;
}
h1{

	font-family: arial;
	font-weight: 300;
	font-size: 50px;
	color: white;
	text-shadow:0 0 5px black;
	-o-text-shadow:0 0 5px black;
	-ms-text-shadow:0 0 5px black;
	-webkit-text-shadow:0 0 5px black;
	-moz-text-shadow:0 0 5px black;
	text-align: center;
	margin-bottom: 30px;
}
h3{
	text-align: center;
	width: 70%;
	float: left;
	font-size: 25px;
	margin-left: 15%;
	margin-bottom: 60px;
	position: relative;
	color: yellow;
	text-shadow: 0px 0px 1px black;
	line-height: 0px;

}
h3:before{
	content: "";
	position: absolute;
	left: 0;
	float: left;
	width: 30%;
	height: 3px;
	background: white;
}
h3:after{
	content: "";
	position: absolute;
	right: 0;
	float: left;
	width: 30%;
	height: 3px;
	background: white;
}
.center{
	float: left;

	margin-left: calc( 50% - 12%);
}
.left{
    float: left !important;
     width:  calc(70% - 30px);
}
.box-left{
    position: relative;
    float: left;
    width: calc(100% - 30px);
    background: #326698;
    margin-right: 20px;
    color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 25px;
}
.right{
    float: right;
    width: calc(30% - 20px);
}
.form-group{
    float: left;
    margin-bottom: 10px;
}
.qw6{
    float: left;
    width: calc(66.3% - 10px);
    margin-right: 10px !important;
}
.qw4{
    float: left;
    width: 33.3%;  
    width: calc(33.3% - 10px);
    margin-right: 10px !important;
}
.qw3{
    float: left;
    width: calc(23.9% - 10px);
    margin-right: 10px;
    
}
.qw2{
    float: left;
    width: 8%;
    margin-right: 10px;

}
.require{
    color: rgba(230,0,0,1);
}
.form-group input{
    width: 100%;
    padding: 7.5px;
    height: 35px;
    border: 0;
}
.form-group select{
    width: 100%;
    height: 35px;
    border: 0;
    padding: 7.5px;
}
.form-title{
    background: #2f3235;
    float: left;
    width: 140px;
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: center;
    margin-left: calc(50% - 85px);
    position: absolute;
    border-radius: 3px;
    top: -18px;
}
.qw10{
    width: 100%;
}
.qw11{
    width: 100%;
    margin-left: 3.5%;
}
.form-group textarea{
    width: 100%;
    padding: 10px;
}
.btn_save img{
    float: left;
    width: 30px;
}
.btn_save{
    float: left;
    height: 50px;
    min-width: 80px;
    padding: 0px 15px;
    margin-top: 25px;
    background: #fca62b;
    color: white;
    border:0px;
    line-height: 30px;
    font-size: 15px;
    margin-right: 15px;
}
.btn_limpa{
    float: left;
    height: 50px;
    min-width: 80px;
    padding: 0px 15px;
    margin-top: 25px;
    background: #f75151;
    color: white;
    border:0px;
    line-height: 30px;
    font-size: 15px;
}
.info_op{
	position: absolute;
	bottom: 0;
	margin-bottom: 0px !important;
}
iframe{
	width: 100%;
	border:transparent;
	height: 250px;
}
@media screen and (max-width:790px){
	*{
		margin:0px;
		padding: 0px;
	}
	body{
		margin:0px;
		padding: 0px;
		background-size: cover;
		overflow: hidden;
		font-family: arial;
	}
	.appContent{
		width: 100%;
		height: 100vh;
		float: left;
		background: linear-gradient(to bottom, rgba(168,197,229,.8) 30%, rgba(255,255,255,.9) 90%);
		background: -moz-linear-gradient(to bottom, rgba(168,197,229,.8) 30%, rgba(255,255,255,.9) 90%);
		background: -ms-linear-gradient(to bottom, rgba(168,197,229,.8) 30%, rgba(255,255,255,.9) 90%);
		background: -webkit-linear-gradient(to bottom, rgba(168,197,229,.8) 30%, rgba(255,255,255,.9) 90%);
		background: -o-linear-gradient(to bottom, rgba(168,197,229,.8) 30%, rgba(255,255,255,.9) 90%);
	
	}
	.container{
		width: 97%;
		float: left;
		margin-left: 1.5%;
		position: relative;
	}
	.logo{
		width: 50%;
		margin-bottom: 20px;

	}
	
	.login{
		float: left;
		width: 500px;
		margin-top: 70px;
		position: absolute;
		left: calc(50% - 250px);
		font-family: arial;
	}
	.login h1{
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
		width: 100%;
		float: left;
		padding: 20px 0px;
	}
	.login .form{
		padding: 30px;
		background: #3988af;
		float: left;
		width:calc(100% - 60px);
		height: 300px;
		box-shadow: 2px 2px 5px rgba(0,0,0,.3);
	}
	.login .header span{
		font-size: 35px;
		font-family: arial;
		text-transform: uppercase;
		color: white;
		margin-bottom: 10px;
		float: left;
		width: 100%;
		text-shadow: 1px 1px 3px black;
	}
	.login	.header p{
		float: left;
		width: 100%;
		color: white;
		font-family: arial;
		margin-bottom: 40px;
	}
	.content .optGroup{
		float: left;
		width: 100%;
		height: 40px;
		color: white;
	}
	.content .optGroup label{
		width: 110px;
		float: left;
		margin-top: 2.5px;
		font-size: 20px;
		font-family: arial;
		font-weight: bold;
	
	}
	.content .optGroup input{
		width: calc(100% - 120px);
		float: left;
		padding: 5px;
	}
	
	.optGroup input[type='submit']{
		float: left;
		width: 100px;
		height: 35px;
		margin-left: calc(50% - 50px);
		border-radius: 10px;
		background: #0099ff;
		border: transparent;
		color: white;
		font-weight: bold;
		box-shadow: 2px 2px  5px rgba(0,0,0,.8);
		margin-top: 40px;
	}
	
	
	.help{
		background: transparent;
		position: absolute;bottom: 0;
	}
	.help i{
		width: 20px;
		height: 20px;
		border-radius: 25px;
		border:2px solid yellow;
		left: 0;
	}
	.appContent ul{
		float: left;
		width: 100%;
		background: rgba(200,200,200,1);
		border-bottom:1px solid rgba(150,150,150,.8);
		margin-bottom: 20px;
	}
	.appContent ul li{
		float: left;
		padding: 10px 30px;
		list-style: none;
	}
	.info_op{
		position: absolute;
		bottom: 0;
		margin-bottom: 0px !important;
	}
	.header{
		font-family: arial;
		font-weight: 700;
	}
	.header li{
		cursor: pointer !important;
	}
	.status{
		width: 13px;
		height: 13px;
		margin-top: 2px;
		float: left;
		margin-right: 15px;
		border-radius: 50px;
	}
	.active{
		background: rgba(0,255,0,1);
	}
	.inactive{
		background: rgba(255,0,0,1);
	}
	.painel{
		width: 90%;
		float: left;
		margin-top: 30px;
		margin-left: 5%;
	}
	.btn_painel{
		width: calc(100% / 3 - 20px);
		height: 40px;
		margin-right: 0px;
		margin-bottom: 50px;
		margin-left: 10px;
		background: #3988af;
		border: transparent;
		font-weight: bold;
		color: white;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		border-top-left-radius: 30px;
		border-bottom-left-radius: 30px;
		overflow: hidden;
	}
	
	.btn_painel span{
		float: left;
		width: 45px;
		height: 40px;
		background: white;
		overflow: hidden;
		border-radius: 50px;
	}
	.btn_painel p{
		float: left;
		text-align: center;
		height: 40px;
		line-height: 39px;
		font-size: 18px;
		width: calc(100% - 45px);
	}
	.btn_painel span img{
		float: left;
		width: 70% ;
		position: relative;
		bottom: 0;
		left: 3px;
		margin-left: 15%;
		top:5px;
	
	}
	button.help{
		float: left;
		border: transparent;
		line-height: 33px;
		font-weight: bold;
	
	}
	button.help img{
		float: left;
		width: 30px;
		margin-right: 10px;
	}button.exit{
		float: right;
		background: transparent;
		border: transparent;
		line-height: 33px;
		font-weight: bold;
	
	}
	button.exit img{
		float: left;
		width: 30px;
		margin-right: 10px;
	}
	.option_bottom{
		float: left;
		position: absolute;
		width: 90%;
		margin-left: 5%;
		bottom: 45px;
	}
	
	button{
		cursor: pointer !important;
	}	
}
@media screen and (max-width: 620px){
	.content h1{
		margin-bottom: 10px;
	}
	.painel{
		width: 100%;
		margin-left: 0;
	}
	.btn_painel p{
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.content h3{
		width: 100%;
		font-size: 18px;
		margin-left: 0;
	}
	.content h3::after{
		display: none;
	}.content h3::before{
		display: none;
	}
	.appContent ul li{
		padding: 10px 20px;
	}
}
@media screen and (max-width: 585px){
	.btn_painel{
		width:calc(100% / 2 - 20px);
		margin-bottom: 20px;
	}
	.header{
		display: none;
	}
	.appContent ul li{
		padding: 10px 10px;

	}
}
@media screen and (max-width:467px){
	.appContent ul li{
		padding:10px 2px;
	}
	.logo img{
		width: 90%;
	}
	
}
@media screen and ( max-width: 423px){
	.appContent ul{
		display: none;	
	}
}